@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #eeeeee;
  background: -webkit-linear-gradient(to left, #8e9eab, #eef2f3);
  background: linear-gradient(to left, #8e9eab, #eef2f3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  padding: 0px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
}

#main h1 {
  color: #444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3em;
  margin-top: 20px;
  text-transform: uppercase;
}

#book-list {
  padding: 0;
  text-align: center;
}

#book-list li {
  display: inline-block;
  color: #880e4f;
  border: 1px solid #880e4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  background-color: #fff6bb;
  text-align: center;
  margin: 12px;
  padding: 10px;
  min-width: 200px;
}

form {
  background: #fff;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 500px;
}

form .field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

form label {
  text-align: right;
  padding: 6px;
}

form input,
form select {
  margin: 4px 0;
  padding: 6px 8px;
  box-sizing: border-box;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  color: #24292e;
  border-radius: 4px;
  width: 250px;
}

form button {
  color: #fff;
  font-size: 2em;
  background: #ad1457;
  border: 0;
  padding: 0 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#book-details {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background: #ad1457;
  padding: 30px;
  overflow: auto;
  box-shadow: -2px -3px 5px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  color: #fff;
}
