@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #eeeeee;
  background: -webkit-linear-gradient(to left, #8e9eab, #eef2f3);
  background: linear-gradient(to left, #8e9eab, #eef2f3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main {
  min-height: 100vh;
  font-size: calc(10px + 1.5vmin);
  padding-left: 40px;
}
